# This is the base configuration for Asset Pipeline, and is shared between 
# Batch Compiler and JIT Compiler. You can override configuration for 
# specific applications by providing jit_compiler.config and 
# batch_compiler.config. Configuration is accumulative, so you can override
# only some settings and inherit the rest.
#
# In addition, it is possible to locally override settings. The full order in
# which settings are searched for are,
#
# %EXEDIR%/asset_pipeline.config
# %EXEDIR%/<app_name>.config
# %LOCALAPPDATA%/<project_name>_asset_pipeline.config
# %LOCALAPPDATA%/<project_name>_<app_name>.config
# %CWD%/asset_pipeline.config.local
# %CWD%/<app_name>.config.local
#
# Where <app_name> is either jit_compiler or batch_compiler.
# Where <project_name> comes from project-name setting below.
project-name=wot
remote-cache-path=\\assetcache\assetcache\assetcache_wot

# This will auto-detect the "best" local-cache-path to use by default. This will:
# - Search each %DRIVE% for the given path.
# - If one exists, it will use that.
# - If one doesn't exist, one will be created on the current disk where AP is being run from.
# - The result will be saved to %EXEDIR%\auto_detected_local_cache_path.config
#   This will avoid potentially slow disk scanning in future runs.
#   If the saved copy doesn't exist, then rescanning will occur, and result rewritten.
#
# Note: specifying local-cache-path explicitly on command line or in higher priority
#       config files will take precedence over the auto-detected path.
auto-detect-local-cache-path=%DRIVE%\.assetcache_wot

# Default the global REALM key to DEV
global-key=REALM=DEV
