			<hitTester>
                <trackPairIdx> [[TRACK_PAIR_IDX]] </trackPairIdx>
				<collisionModelServer> [[CHASSIS_MODEL_COLLISION_SERVER]] </collisionModelServer>
				<collisionModelClient> [[CHASSIS_MODEL_COLLISION_CLIENT]] </collisionModelClient>
				<crashed> [[CHASSIS_MODEL_COLLISION_CRASH]] </crashed>
			</hitTester>

