		<variants>
			<hull2 turret0="[[HULL_TURRET_NAME]]">
				<turretPositions>
					<turret> [[HULL_TURRET_POSITION]] </turret>
				</turretPositions>
				<turretHardPoints>
					<hardPoint> [[HULL_TURRET_HARD_POINT]] </hardPoint>
				</turretHardPoints>
			</hull2>
		</variants>
