				<trackPair>
					<trackPairIdx> [[CHASSIS_TRACK_PAIR_IDX]] </trackPairIdx>
					<leftMaterial> [[CHASSIS_LEFT_TRACK_MATERIAL]] </leftMaterial>
					<rightMaterial> [[CHASSIS_RIGHT_TRACK_MATERIAL]] </rightMaterial>
					<!-- scale: metres -> texture units -->
					<textureScale> -1.1 </textureScale>
				</trackPair>
