				<wheel>
					<isLeft> [[WHEEL_IS_LEFT]] </isLeft>
					<name> [[WHEEL_NAME_OR_TEMPLATE]] </name>
					<radius> [[WHEEL_RADIUS]] </radius>
					<isLeading> [[WHEEL_IS_LEADING]] </isLeading>
				</wheel>