typing==3.10.0.0;    python_version < '3.0'     # for Python 2
enum34==1.1.10;      python_version < '3.0'     # for Python 2

future==1.0.0;                                 # py2to3: Python 2/3 compatibility

backports.functools-lru-cache==1.6.4
bitstring==3.1.9
cbor==1.0.0
Pympler==0.9
